@page "/"
@inject AuthViewModel VM
@layout EmptyLayout
@inject NavigationManager NavigationManager

<div class="shadow-sm text-center fs-3 mb-3 p-4">Bienvenido a POS-APP</div>
<MatCard Class="w-25 mb-5 p-3">
    <EditForm Model="@VM" OnSubmit="usuarioLogin">
        <MatCardContent>
            <MatTextField Label="Correo" @bind-Value="VM.LoginRequest.Correo" class="mb-3" />
            <MatTextField Label="Contraseña" @bind-Value="VM.LoginRequest.Clave" Type="password" class="mb-5" />

            <PrimaryButton Text="Iniciar sesión"></PrimaryButton>

            @if(V)
            {
                
            }
        </MatCardContent>
    </EditForm>

</MatCard>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (await VM.validarSesion())
        {
            NavigationManager.NavigateTo("/historial");
        }
    }
    private async Task usuarioLogin()
    {
        if (await VM.IniciarSesion())
        {
            NavigationManager.NavigateTo("/historial");
        }
    }
}
