@page "/compras"
@inject NavigationManager Nav
<GlobalCenterContainer>
    <Content>
        <h3 class="text-center"><span class="me-3">Compras</span><PrimaryButton Text="Nuevo" OnClick="@(() => Nav.NavigateTo("/Compras/Crear"))"></PrimaryButton></h3>
        <p>Aquí se generarán órdenes de compra muy próximamente.</p>

    </Content>
</GlobalCenterContainer>